//
   Created by nokamojd on 12/07/2016.
include includes/sharedFunctions
extends layout
block content
    // SMALL SCREENS
    +middle-menu-mb
    div.clearfix
        div.hidden-lg.hidden-md.hidden-lg
            button.accordion APPLIQUER FILTRES
            div.panel
                // h3 Filtres
                div.filter-form
                    form.form-default(action="" method="post")
                        input(type="text" class="location")
                        select(name="select")
                            option(value="") Tous les domaines
                            -for(var i = 0; i < fields.length; i++)
                                option(value=fields[i]._id)= fields[i].field_name
        div.middle-content.hidden-lg.hidden-md
            div.catalog-box
                div.tab-content#mbcatalog
                    div#mboffers
                        ul.catalog-items
                            each consultant in consultants
                                div.mb-item-box
                                    li.catalog-user
                                        a(href="consultants/consultant-details")
                                            img.img-circle.pull-left(src="#{consultant.related_user.profile_pic_path}" style="width:64px; height:64px")
                                        a.item-title(href="consultants/consultant-details")
                                            = consultant.related_user.first_name
                                            | &nbsp;
                                            = consultant.related_user.last_name.substring(0, 1)
                                            | .
                                        | &nbsp; - &nbsp;
                                        span=consultant.related_user.qualification
                                        if(consultant.related_user.is_certified)
                                            span.certified.pull-right <i class="fa fa-check-circle-o"></i>
                                        | &nbsp;
                                        div.item-meta
                                            small
                                                | &nbsp;<i class="fa fa-map-marker"> </i> &nbsp;
                                                = consultant.related_user.personal_details.address.location
                                            div.item-excerpt
                                                ul.skill-labels
                                                    -var skill = consultant.related_user.user_skills.length
                                                    -for (var i = 0; i < skill/2; ++i)
                                                        li
                                                            a(href="#")=consultant.related_user.user_skills[i].user_skill
                                                    li(style="display:inline")
                                                        a(href="#") ...
                                            small.rates.pull-right &nbsp;
                                                //+outputRating(consultant.rating)
    // LARGE SCREENS
    +middle-menu
    div.container
        div.middle-content.col-md-8.hidden-sm.hidden-xs
            div.catalog-box
                div.tab-content#catalog
                    div#offers
                        ul.catalog-items
                            each consultant in consultants
                                div.item-box
                                    li.catalog-user
                                        a(href="consultants/consultant-details")
                                            img.img-circle.img-responsive.pull-left(src="#{consultant.related_user.profile_pic_path}" style="width:64px; height:64px")
                                        if(consultant.related_user.is_certified)
                                            span.certified.pull-right <i class="fa fa-check-circle-o"></i>
                                        | &nbsp;
                                        a.item-title(href="consultants/consultant-details")
                                            = consultant.related_user.first_name.toUpperCase(0, 1)
                                            | &nbsp;
                                            = consultant.related_user.last_name.substring(0, 1).toUpperCase()
                                            |.
                                        | &nbsp; - &nbsp;
                                        span=consultant.related_user.qualification
                                        div.item-meta
                                            small
                                                |  &nbsp; <i class="fa fa-map-marker"> </i> &nbsp;
                                                = consultant.related_user.personal_details.address.location
                                            div.item-excerpt
                                                ul.skill-labels
                                                    -var skill = consultant.related_user.user_skills.length
                                                    -for (var i = 0; i < skill/2; ++i)
                                                            li
                                                                a(href="#")=consultant.related_user.user_skills[i].user_skill
                                                    li
                                                        a(href="#") ...
                                                small.rates.pull-right &nbsp;
                                                    //+outputRating(consultant.rating)

        div.middle-sidebar.col-md-4.col-lg-4.hidden-xs.hidden-sm
            div.item-box.sidebar-sticky
                h3 Filtres
                div.filter-form
                    form.form-default(action="" method="post")
                        input(type="text" class="location")
                        select(name="select")
                            option(value="") Tous les domaines
                            -for(var i = 0; i < fields.length; i++)
                                option(value=fields[i]._id)= fields[i].field_name