//
   Created by nokamojd on 13/07/2016.
include includes/sharedFunctions
extends layout
block content
    // SMALL SCREENS
    +middle-menu-mb
    div.clearfix
        div.hidden-lg.hidden-md
            button.accordion APPLIQUER FILTRES
            div.panel
                // h3 Filtres
                div.filter-form
                    form.form-default(action="" method="post")
                        input(type="text" class="location")
                        select(name="select")
                            option(value="") Tous les domaines
                            -for(var i = 0; i < fields.length; i++)
                                option(value=fields[i]._id)= fields[i].field_name
        div.middle-content.hidden-lg.hidden-md
            div.catalog-box
                div.tab-content#mbcatalog
                    div#mboffers
                        ul.catalog-items
                            each offer in offers
                                div.mb-item-box(onclick="location.href='offers/#{offer._id}'")
                                    li.catalog-item
                                        a.item-title(href="offers/#{offer._id}")=  offer.offer_title
                                            span.item-price.pull-right= offer.bundle_price
                                                | &nbsp;€
                                            small <i class="fa fa-clock-o"> </i> &nbsp;
                                                +formatDate(offer.created_at)
                                                |  &nbsp; <i class="fa fa-map-marker"> </i> &nbsp;
                                                = offer.offer_location
                                            p.item-excerpt=offer.offer_description.substr(0, 300)
                                                | ...&nbsp;
    // LARGE SCREENS
    +middle-menu
    div.container
        div.middle-content.col-md-8.hidden-sm.hidden-xs
            div.catalog-box
                div.tab-content#catalog
                    div#offers
                        ul.catalog-items
                            each offer in offers
                                div.item-box(onclick="location.href='offers/#{offer._id}'")
                                    li.catalog-item

                                        span.item-price.pull-right= offer.bundle_price
                                            | &nbsp;€
                                        a.item-title(href="offers/#{offer._id}")= offer.offer_title
                                        div.item-meta
                                            small <i class="fa fa-clock-o"> </i> &nbsp;
                                                +formatDate(offer.created_at)
                                                |  &nbsp; <i class="fa fa-map-marker"> </i> &nbsp;
                                                = offer.offer_location
                                            p.item-excerpt=offer.offer_description.substr(0, 300)
                                                | ...&nbsp;
                                                //span.label.label-primary Prix au jour:&nbsp;
                                                    = offer.dailyPrice
                                                    | €&nbsp;
                                                | &nbsp;
                                                //span.label.label-success Prix demi-journée:&nbsp;
                                                    = offer.halfDayPrice
                                                    | €
        div.middle-sidebar.col-md-4.col-lg-4.hidden-xs.hidden-sm
            div.item-box.sidebar-sticky
                h3 Filtres
                div.filter-form
                    form.form-default(action="" method="post")
                            input(type="text" class="location")
                            select(name="select")
                                option(value="") Tous les domaines
                                -for(var i = 0; i < fields.length; i++)
                                    option(value=fields[i]._id)= fields[i].field_name


